<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686804733058-v79acmvpa5tocijp87h7gv76d33ntmu7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686804733058-v79acmvpa5tocijp87h7gv76d33ntmu7</string>
	<key>API_KEY</key>
	<string>AIzaSyAUlkkWs558QAQXKL_-eSb0Q2khOPurSd8</string>
	<key>GCM_SENDER_ID</key>
	<string>686804733058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.digitreco.chandit</string>
	<key>PROJECT_ID</key>
	<string>chandit-b506a</string>
	<key>STORAGE_BUCKET</key>
	<string>chandit-b506a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686804733058:ios:90cffd194bb39afad2f89b</string>
</dict>
</plist>